.counter {
    display: flex;
    margin: 0;
    padding: 0;
    height: 23px;
    width: 41px;
}

.number {
    display: flex;
    margin: 0;
    padding: 0;
    height: 13px;
    width: 23px;
}

.number.icon {
    float: left;
    background: url(sprite.png) no-repeat 0 0;
    cursor: pointer;
}
